html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-position: top center;
    background-size: auto;
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 0
}

#wrap {
    width: 70%;
    margin: 0 auto;

}

header img {}

.logo {
    width: 70%;
    text-align: center;

}

nav {
    background color: aqua;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'hamburger';
}

nav li {
    display: inline;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    color: mediumpurple;
    text-decoration: none;
    padding: 10px 30px;

}

nav a:hover {
    color: lightgoldenrodyellow;
    background-color: mediumpurple;
}

.button {
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin: 15px 0;
    border-radius: 8px;
}

a.button:hover {
    background-color: lightgoldenrodyellow;
    color: mediumpurple;
}

section {
    padding: 20px;
    background-color: white;
    overflow: auto;
    font-family: hamburger;
    font-size: 15px;
    color: mediumpurple;
}

section h4 {
    overflow: auto;
    background-color: whitesmoke;
}

.laurl {
    float: left;
    padding: 10px;
    background-color:
}

.josie {
    float: left;
    padding: 10px;
}

.paige {
    float: left;
    padding: 10px;
}

.lexi {
    float: left;
    padding: 10px;
}

.alex {
    float: left;
    padding: 10px;
}

.ellie {
    float: left;
    padding: 10px;
}

footer {
    font-family: hamburger;
    background-color: mediumpurple;
    padding: 5px;
    color: lightgoldenrodyellow;
    text-align: center;
}

#footercontainer ul li {
    display: inline;
}
